doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
  body
     .card.blog
       .row.blog__row
         .col-md-4.d-flex.flex-column.blog__col-info
           .card-header.blog__title
             h4.title__start Be a man:
             p.title__desc Respect women
             .title__last-line
           .card-footer.d-flex.align-items-center.blog__author.author-blog
             img.author-blog__img(src="images/avatar.jpg", alt="")
             p.author-blog__name John Hanson
     
         .col-md-8.blog__col-content
           .card-body.blog__text.text-blog
             p.content-blog__paragraph The desire to be respected by someone of the opposite sex is     something that runs deep within everyone, even though most people    don't take the time to find someone who truly respects them. It seems     like people are just looking for someone to show them the slightest    amount of attention , setting for something much less than respect. I     am convinced one of the best ways to help any relationship grow is by    showing respect.
             p.content-blog__paragraph I have come to the conclusion that everyone longs to be respected.     What is respect? Respect is showing someone extra special attention,     or high regard, based on a desire to show them how higly they are     valued.
           .card-footer.d-flex.justify-content-between.blog__actions.actions-blog
             .actions-blog__period
               span.period__date Sat 06 Aud 2017 - 
               b.period__time 22:14
             .actions-blog__link.link-actions
               .fas.fa-comment-dots.link-actions__comment
               span.link-actions__notification 23
               .fas.fa-ellipsis-h.link-actions__ellipsis
    

